<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg. com/@tailwindcss/browser@4"></script>
    <title>Edit your  post</title>
  </head>
  <body class="bg-zinc-700 text-white px-4">
    <form action="/update/<%=post._id%>" method="POST">
      <textarea
        name="content"
        aria-valuemax=""
        class="px-7 py-2 border rounded block mb-2 resize-none w-1/2"
        placeholder="What's in your mind?"
      >
      <%= post.content%>
      </textarea
      >
      <button type="submit" class="bg-blue-400 px-8 py-2 my-2 cursor-pointer">
        Update Post
      </button>
    </form>
  </body>
</html>
