<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Edit Post</title>
  </head>
  <body class="bg-zinc-700 text-white px-4">
    <form action="/post" method="POST">
      <textarea
        name="content"
        class="px-7 py-2 border rounded block mb-2 resize-none w-1/2"
        placeholder="What's in your mind?"
      ></textarea>
      <button type="submit" class="bg-blue-400 px-8 py-2 my-2 cursor-pointer">
        Submit
      </button>
    </form>

 >

    <div class="p-3 w-1/2 rounded">
    <p class="mb-2">Your posts</p>

    
  </body>
</html>
